/* ==== overwrite bootstrap standard ==== */
@import url('overwrite.css');
@import url('boxtile.css');
/* ====================================== */

.sponsor-content{
    margin: 20px;
    padding: 20px;
    width: 300px;
    line-height: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.img-container{
    height: 300px;
}

.img-sponsor {
    vertical-align: middle;
    width: 300px;
}

.sponsor-link {
    font-size: 25px;
}